<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Engaging Restaurants App" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#212121"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>WeResto</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Main Content</a>
    <!-- Start: Header -->
    <header class="main-header">
        <div class="container">
            <h1 class="mh-logo">
                <a class="a-logo" href="index.html">
                    <img src="../images/heros/logo_weresto.svg" width="70%" alt="WeResto is Engaging Restaurants App" />
                </a>
            </h1>
            <nav id="drawer" class="main-nav">
                <button tabindex="0" class="menu-toggle" aria-label="navigation-menu">
                        <input tabindex="-1" type="checkbox" title="HumbergerMenu" id="toggler">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                </button>
                <ul class="main-nav-list">
                    <li class="main-nav-item"><a href="#/">Home</a></li>
                    <li class="main-nav-item"><a href="#/like">Favorite</a></li>
                    <li class="main-nav-item"><a href="https://github.com/pandjihm">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- End: Header -->

    <!-- Start: First Section -->
    <section>
        <div class="bg-img">
                <div class="first">                    
                    <h1 tabindex="0" class="second">Experience Iconic Restaurant</h1>
                    <a href="#story">
                        <button class="tombol">Learn more</button>
                    </a>                   
                </div>
        </div>
    </section>
    <!-- End: First Section -->

    <!-- Start: Second Section -->
    <section id="story" class="sec-second">
        <div class="container-img-second">
            <img tabindex="0" class="img-sec-second" src="../images/heros/ourstory.png" alt="woman enjoying food">
        </div>
        <div class="konten-second">
            <h2 tabindex="0" class="h2-judul-second">
                Our Story
            </h2>
            <p tabindex="0" class="p-second">
                We believe that every person go to the restaurant not only enjoying their food. How cozy the place, warm sensation, good services, you name it. That’s how the people want to experience. And WeResto will fullfil your needs.
            </p>
            <img tabindex="0" class="appstore" src="../images/heros/appstore.png" alt="our apps also available on the appstore">
        </div>
    </section>
    <!-- End: Second Section -->

    <!-- Start: Third Section -->
    <section class="sec-third">
        <h2 tabindex="0" class="h2-judul-third">
            What We Offer
        </h2>
        <div class="grid-third">
            <div class="icon-third">
                <img tabindex="0" src="../images/heros/circle.svg" width="50vh" alt="icon optimize">
                <h4 tabindex="0" class="h4-judul">
                    Optimize your search
                </h4>
                <p tabindex="0" class="p-third">
                    Optimize your search based on what you like the most
                </p>
            </div>
            <div class="icon-third">
                <img tabindex="0" src="../images/heros/square.svg" width="50vh" alt="icon best">
                <h4 tabindex="0" class="h4-judul">
                    Best Restaurant
                </h4>
                <p tabindex="0" class="p-third">
                    We only give you the best and high rating restaurant
                </p>
            </div>
        <div class="icon-third">
            <img tabindex="0" src="../images/heros/square45.svg" width="50vh" alt="icon honest">
            <h4 tabindex="0" class="h4-judul">
                Honest Review
            </h4>
            <p tabindex="0" class="p-third">
                The review come from expertise
            </p>
        </div>
    </section>
    <!-- End: Third Section -->

    <!-- Start: Fourth Section -->
    <section class="sec-fourth">
        <h2 tabindex="0" class="h2-judul-fourth">
            Media Partner
        </h2>
        <div class="grid-fourth">
            <div class="img-daily">
                <img tabindex="0" src="../images/heros/dailysocial.png" alt="logo daily social">
            </div>
            <div class="img-tech">
                <img tabindex="0" src="../images/heros/techinasia.svg" alt="logo tech in asia">
            </div>
        </div>
    </section>
    <!-- End: Fourth Section -->

    <!-- Start: Fifth Section -->
    <section class="sec-fifth">
        <h2 id="maincontent" tabindex="0" class="h2-judul-fifth">
            Explore Restaurant
        </h2>
        <main id="mainContent"></main>
    </section>
    <!-- End: Fifth Section -->

    <footer class="main-footer">
        <p tabindex="0" class="p-footer">
            Copyright © 2021 - WeResto
        </p>
    </footer>
</body>
</html>
