<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Engaging Restaurants App" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#212121"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>WeResto</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Main Content</a>
    <app-bar></app-bar>
    <sec-first></sec-first>
    <sec-second></sec-second>
    <sec-third></sec-third>
    <sec-fourth></sec-fourth>
    
    <!-- Start: Fifth Section -->
    <section class="sec-fifth">
        <h2 id="maincontent" tabindex="0" class="h2-judul-fifth">
            Explore Restaurant
        </h2>
        <main id="mainContent"></main>
    </section>
    <!-- End: Fifth Section -->

    <footer-bar></footer-bar>
</body>
</html>
