
@media screen and (max-width: 1080px)
{

/*
    List Restaurant
*/

    .restaurants {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 3em 0;
    }

    .card-fifth {
        margin-top: 3em;
    }

    .img-fifth {
        height: 45vh;
    }

/*
    Detail List Restaurant
*/

    .grid-detail {
        display: grid;
        grid-template-columns: 100%;
        padding: 6em 6em 1em 6em;
        justify-content: center;
        align-items: center;
    }

    .detail-info {
        margin: 2em 1em;
    }
}

/* 
Tablet
*/

@media screen and (max-width: 768px)
{
    body {
        overflow-x: hidden;
    }
    

    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        padding: 1em 0 0 0;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #212121;
        z-index: 10;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul.slide {
        transform: translateX(0);
    }

    nav li {
        font-size: 3em;
        margin: -2em;
    }

    nav li:hover {
        color: #EEC32A;
    }

/*
Tablet Second Section
*/
    .sec-second {
        padding: 6em 2em;
        margin: 0;
    }

    .img-sec-second {
        padding-top: 1.5em;
    }


/*
Tablet Third Section
*/

    .sec-third {
        padding: 6em 3em;
        align-items: center;
    }

    .h2-judul-third {
        padding-bottom: 2em;
    }

    .grid-third {
        align-items: top;
    }

    .icon-fourth {
        padding: 0 1em;
        margin: 0;
    }

/*
Tablet Third Section
*/

    .img-daily {
        margin: 0 0 0 1em;
    }

/*
Tablet Fifth Section
*/

    .h2-judul-fourth {
        padding-top: 1em;
    }

    .restaurants {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 3em 0;
    }

    .card-fifth {
        margin-top: 3em;
    }

    .img-fifth {
        height: 45vh;
    }

}


@media screen and (max-width: 712px)
{
    .restaurants {
        grid-template-columns: 100%;
    }

    .img-fifth {
        height: 45vh;
    }

/*
    Detail List Restaurant
*/

    .grid-detail {
        display: grid;
        grid-template-columns: 100%;
        padding: 6em 2em 1em 2em;
        justify-content: center;
        align-items: center;
    }

    .desc-pad {
        padding: 0 3em;
    }
}

/* 
Mobile
*/

@media screen and (max-width: 360px)
{
    .container {
        padding: 0 .2em;
        align-items: center;
    }

    .mh-logo {
        width: 70%;
        padding: 0 .2em;
    }

    .menu-toggle {
        display: flex;
        padding: 0.6em 0;
    }

/*
Mobile First Section
*/

    .second {
        line-height: 1.25em;
    }

/*
Mobile Second Section
*/

    .sec-second {
        grid-template-columns: 100%;
    }

    .img-sec-second {
        width: 100%;
    }

    .container-img-second {
        grid-area: 2 / 1 / 2 / 1;
        padding-top: 3em;
    }

    .appstore {
        width: 85%;
    }

/*
Mobile Third Section
*/

    .h2-judul-third {
        padding-bottom: 0;
    }

    .grid-third {
        grid-template-columns: 100%;
    }

    .icon-third {
        padding-top: 3em;
    }

/*
Mobile Fourth Section
*/

    .grid-fourth {
        grid-template-columns: 100%;
    }

    .img-tech {
        margin: 3em 0 0 0;
    }

/*
Mobile Fifth Section
*/

    .restaurants {
        grid-template-columns: 100%;
    }

    .img-fifth {
        height: 45vh;
    }

    .p-review {
        word-wrap: break-word;
    }

/*
    Detail List Restaurant
*/

    .grid-detail {
        display: grid;
        grid-template-columns: 100%;
        padding: 6em 2em 1em 2em;
        justify-content: center;
        align-items: center;
    }

    .detail-img {
        height: 300px;
        width: 300px;
        object-fit: cover;
    }

}